<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>View Durian</title>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">



    <link href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- CSS -->


    <!-- JavaScript -->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>



</head>
<%- include('../authentication/authorized'); %>
    <%- include('../authentication/farmerRole'); %>

        <body>
            <%- include('../partials/home_navbar'); %>
                <%- include('../partials/home_sidebar'); %>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script type="text/javascript"
                        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                        <div
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Durian Management</h1>
                        </div>
                        <h4 class="h4">View Durian </h4>
                        <div class="col d-flex justify-content-center">
                            <div class="card" style="width:100%; ">
                                <div class="card-body">

                                    <button class=" btn btn-outline-secondary  " data-toggle="modal"
                                        data-target="#addDurianModal">Add Durian
                                    </button><br /><br />
                                    <table id="table" class="table ">
                                        <thead>
                                            <tr>
                                                <th scope="col">Durian ID</th>
                                                <th scope="col">Durian Type</th>
                                                <th scope="col">Durian Tree ID</th>
                                                <th scope="col">Durian Weight(KG)</th>
                                                <th scope="col">Process</th>
                                                <th scope="col">Harvest Time</th>



                                            </tr>
                                        </thead>
                                        <tbody id="bodyData">


                                            <!-- <td scope="col">
                                                    <button class=" btn btn-outline-secondary  " data-toggle="modal"
                                                        data-target="#distributeDurianModal">Distribute
                                                    </button>

                                                </td> -->



                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th scope="col">Durian ID</th>
                                                <th scope="col">Durian Type</th>
                                                <th scope="col">Durian Tree ID</th>
                                                <th scope="col">Durian Weight(KG)</th>
                                                <th scope="col">Process</th>
                                                <th scope="col">Harvest Time</th>



                                                </button></th>


                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </main>


                    <div class="modal fade" id="addDurianModal" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Add Durian Modal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                                    <form target="dummyframe">


                                        <div class="row g-3">


                                            <div style="padding-left:20px; padding-right:20px;" class="col-6">
                                                <h4 class="mb-3">Durian Type</h4>
                                                <select class="form-select" name="durianName" id="addDurianType">
                                                    <option value="D24 Durian">D24 Durian
                                                    </option>
                                                    <option value="XO Durian">XO Durian
                                                    </option>
                                                    <option value="Red Prawn Durian">Red Prawn Durian
                                                    </option>
                                                    <option value="Mao Shan Wang Durian">Mao Shan Wang Durian
                                                    </option>
                                                    <option value="Black Pearl Durian">Black Pearl Durian
                                                    </option>
                                                    <option value="Golden Phoenix Durian">Golden Phoenix Durian
                                                    </option>
                                                    <option value="Black Thorn Durian"> Black Thorn Durian
                                                    </option>
                                                    <option value="Black Gold Durian">
                                                    </option>
                                                    <option value="Hor Lor Durian"> Hor Lor Durian
                                                    </option>
                                                    <option value="D17 Durian">D17 Durian
                                                    </option>
                                                    <option value="D1 Durian"> D1 Durian
                                                    </option>
                                                    <option value="D101 Durian">D101 Durian
                                                    </option>
                                                    <option value="MonThong Durian"> MonThong Durian
                                                    </option>
                                                    <option value="D13 Durian">D13 Durian
                                                    </option>
                                                    <option value="Tekka Durian"> Tekka Durian
                                                    </option>
                                                    <option value="Wang Zong Wang">Wang Zong Wang
                                                    </option>
                                                </select>


                                                <span class="text-danger text-left"></span>
                                            </div>



                                            <div style="padding-left:20px; padding-right:20px;" class="col-6">
                                                <h4 class="mb-3">Durian Tree ID</h4>
                                                <input type="input" class="form-control" id="addDurianTreeId"
                                                    maxlength="15" placeholder="XXXXXXXX" required>
                                                <small>Note: Only numeric number and not more than 15
                                                    length</small><br />
                                                <span class="text-danger text-left durianTreeIdErr"
                                                    id="durianTreeIdErr"></span>

                                            </div>

                                            <div style="padding-left:20px; padding-right:20px;" class="col-6">
                                                <h4 class="mb-3">Durian Weight (kg)</h4>
                                                <input type="input" class="form-control" id="addDurianWeight"
                                                    maxlength="5" placeholder="XX" required>

                                                <span class="text-danger text-left durianWeightErr"
                                                    id="durianWeightErr"></span>

                                            </div>





                                        </div><br />




                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="addDurianBtn">Save
                                        changes</button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- <div class="modal fade" id="distributeDurianModal" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Dsitribute Durian Modal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5>Are you sure want to distribute the durian? The process cannot be undo</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary"
                                        id="distributeDurianBtn">Distribute</button>
                                </div>
                            </div>
                        </div>
                    </div> -->



                    <%- include('../partials/scroll_button'); %>


                        <script>
                            const ABI = JSON.parse(localStorage.getItem("UserABI"));
                            const Address = localStorage.getItem("UserAddress")
                            const DurianABI = JSON.parse(localStorage.getItem("DurianABI"));
                            const DurianAddress = localStorage.getItem("DurianAddress")

                            const showDurian = async () => {
                                const accounts = await ethereum.request({ method: "eth_requestAccounts" });
                                account = accounts[0];
                                window.web3 = await new Web3(window.ethereum); //how to access to smart contract 
                                window.UserContract = await new window.web3.eth.Contract(DurianABI, DurianAddress); //how you create an instance of that contract by using the abi and address  
                                let durianID, durianTreeID, durianType, weight, process, harvestTime;
                                let currentProcess;

                                var index = await window.UserContract.methods.displayIndex().call();
                                //  console.log(index);
                                if (index != 0) {
                                    for (var i = 0; i < index; i++) {//each durian
                                        const durian = await window.UserContract.methods.getBlock(i).call();
                                        console.log(durian);

                                        if (durian.length > 1) {//not harvest state
                                            var currDurindex = durian.length - 1;

                                            // console.log("come in "  + currDurindex);
                                            // console.log(durian);
                                            currentProcess = durian[currDurindex][4];
                                        }
                                        else {//harvest state
                                            console.log("reejected");
                                            currentProcess = durian[0][4];
                                        }

                                        //if (Object.keys(durian).length !== 0) {

                                        durianID = durian[0][6][0];
                                        durianTreeID = durian[0][6][1];
                                        durianType = durian[0][6][2];
                                        weight = durian[0][6][3];
                                        const date = new Date(durian[0][3] * 1000); // Multiply by 1000 to convert from seconds to milliseconds
                                        harvestTime = date.toLocaleString(); // Convert to local time string


                                        switch (currentProcess) {
                                            case "0":
                                                process = "HARVEST";
                                                break;
                                            case "1":
                                                process = "DELIVERED";
                                                break;
                                            case "2":
                                                process = "PREPARED";
                                                break;
                                            case "3":
                                                process = "PURCHASE";
                                                break;
                                            case "4":
                                                process = "RATING";
                                                break;
                                            default:
                                                process = "COMPLETED";
                                                break;
                                        }
                                        $(document).ready(function () {
                                            var t = $('#table').DataTable();


                                            t.row.add([durianID, durianTreeID, durianType, weight, process, harvestTime]).draw(false);

                                        });

                                    }

                                }


                                // // --index;
                                // const durian = await window.UserContract.methods.getBlock(0).call();
                                // const statusDurian = await window.UserContract.methods.getBlock(index).call();
                                // console.log(durian[6]);
                                // const date = new Date(durian[3] * 1000); // Multiply by 1000 to convert from seconds to milliseconds
                                // const humanReadableTime = date.toLocaleString(); // Convert to local time string
                                // var process = "";
                                // switch (statusDurian[4]) {
                                //     case "0":
                                //         process = "HARVEST";
                                //         break;
                                //     case "1":
                                //         process = "DISTRIBUTION";
                                //         break;
                                //     case "2":
                                //         process = "DELIVERED";
                                //         break;
                                //     case "3":
                                //         process = "PREPARED";
                                //         break;
                                //     case "4":
                                //         process = "PURCHASE";
                                //         break;
                                //     case "5":
                                //         process = "RATING";
                                //         break;
                                //     default:
                                //         process = "COMPLETED";
                                //         break;
                                // }





                            }
                            showDurian();


                            document.getElementById('addDurianBtn').addEventListener('click', function (e) {
                                e.preventDefault();


                                var durianType = document.getElementById("addDurianType").value;
                                var durianTreeId = document.getElementById("addDurianTreeId").value;
                                var durianWeight = document.getElementById("addDurianWeight").value;

                                if (validateAddDurian(durianTreeId, durianWeight)) {
                                    let durianID = Math.floor((Math.random() * 10000000) + 1);

                                    addDurian(durianID, durianType, durianTreeId, durianWeight);

                                    // [1,ee,eee,2]


                                }







                            });





                            const addDurian = async (durianID, durianType, durianTreeId, durianWeight) => {
                                const accounts = await ethereum.request({ method: "eth_requestAccounts" });
                                account = accounts[0];
                                
                                window.web3 = await new Web3(window.ethereum); //how to access to smart contract 
                                window.UserContract = await new window.web3.eth.Contract(DurianABI, DurianAddress); //how you create an instance of that contract by using the abi and address  
                                // console.log(durianID);//0
                                // console.log(durianType);//2
                                // console.log(durianTreeId);//1
                                // console.log(durianWeight);//3
                                var data = [durianID.toString(), durianTreeId, durianType, durianWeight];
                                console.log(account);
                                // [1,ee,eee,2]
                                try {
                                    await window.UserContract.methods.createDurianRecord(data,account).send({ from: account });
                                    // var index = await window.UserContract.methods.displayIndex().call();
                                    // --index;
                                    // console.log(index);
                                    // await window.UserContract.methods.appendDurianBlock(index, data).send({ from: account });

                                    Swal.fire({
                                        title: 'Durian Added Succesful',
                                        text: 'You may view your durian added',
                                        icon: 'success',
                                        confirmButtonText: 'OK'
                                    }).then(function () {
                                        window.location.href = '/farmerViewDurian';
                                    });
                                } catch (error) {
                                    if (error.message.includes("revert")) {
                                        Swal.fire({
                                            title: 'Durian Added Failed',
                                            text: 'The process is already in other phrase',
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });

                                    }
                                    else {
                                        Swal.fire({
                                            title: 'Durian Added Failed',
                                            text: 'Unknown Error',
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });
                                    }

                                }
                            }

                            function validateAddDurian(durianTreeId, durianWeight) {
                                var valid = true;

                                const regexTreeID = /^\d{1,15}$/u;
                                const regexDurianWeight = /^[0-9]+(\.[0-9]{1,4})?$/u;


                                if (!regexTreeID.test(durianTreeId)) {
                                    //  document.getElementById("durianTreeIdErr").innerHTML = "Invalid Durian Tree ID";
                                    document.querySelector('.durianTreeIdErr').innerHTML = "Invalid Durian Tree ID";
                                    valid = false;
                                    return;
                                }
                                else {
                                    document.querySelector(".durianTreeIdErr").innerHTML = "";
                                    valid = true;
                                }


                                if (!regexDurianWeight.test(durianWeight)) {
                                    document.querySelector('.durianWeightErr').innerHTML = "Invalid Durian Weight";
                                    valid = false;
                                    return;
                                }
                                else {
                                    document.querySelector(".durianWeightErr").innerHTML = "";
                                    valid = true;
                                }

                                return valid;
                            }




                            $(document).ready(function () {
                                $('#table').DataTable();
                            });


                        </script>