<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>View Durian</title>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">



    <link href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- CSS -->


    <!-- JavaScript -->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>



</head>
<%- include('../authentication/authorized'); %>
    <%- include('../authentication/farmerRole'); %>

        <body>
            <%- include('../partials/home_navbar'); %>
                <%- include('../partials/home_sidebar'); %>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script type="text/javascript"
                        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                        <div
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Durian Management</h1>
                        </div>
                        <h4 class="h4">View Durian </h4>
                        <div class="col d-flex justify-content-center">
                            <div class="card" style="width:100%; ">
                                <div class="card-body">

                                    <button class=" btn btn-outline-secondary  " data-toggle="modal"
                                        data-target="#addDurianModal">Add Durian
                                    </button><br /><br />
                                    <table id="table" class="table ">
                                        <thead>
                                            <tr>
                                                <th scope="col">Durian ID</th>
                                                <th scope="col">Durian Type</th>
                                                <th scope="col">Durian Tree ID</th>
                                                <th scope="col">Durian Weight(KG)</th>
                                                <th scope="col">Process</th>
                                                <th scope="col">Harvest Time</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Distribute</th>
                                                <th scope="col">Delete</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="">
                                                <td scope="col" id="durianID">13221323</td>
                                                <td id="durianType">HHHH</td>
                                                <td id="durianTreeID">eqqwewqweweq</td>
                                                <td id="durianWeight">100.00</td>
                                                <td id="process">Harvested</td>
                                                <td id="harvestTime">11.11ppm</td>
                                                <td scope="col">
                                                    <button class=" btn btn-outline-secondary  " data-toggle="modal"
                                                        data-target="#editDurianModal">Edit
                                                    </button>

                                                </td>
                                                <td scope="col">
                                                    <button class=" btn btn-outline-secondary  " data-toggle="modal"
                                                        data-target="#distributeDurianModal">Distribute
                                                    </button>

                                                </td>
                                                <td scope="col"> <button class=" btn btn-outline-secondary "
                                                        data-toggle="modal" data-target="#deleteDurianModal">Delete
                                                    </button>
                                                </td>
                                            </tr>


                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th scope="col">Durian ID</th>
                                                <th scope="col">Durian Type</th>
                                                <th scope="col">Durian Tree ID</th>
                                                <th scope="col">Durian Weight(KG)</th>
                                                <th scope="col">Process</th>
                                                <th scope="col">Harvest Time</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Distribute</th>
                                                <th scope="col">Delete</th>

                                                </button></th>


                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </main>


                    <div class="modal fade" id="addDurianModal" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Add Durian Modal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                                    <form target="dummyframe">


                                        <div class="row g-3">


                                            <div style="padding-left:20px; padding-right:20px;" class="col-6">
                                                <h4 class="mb-3">Durian Type</h4>
                                                <select class="form-select" name="durianName" id="addDurianType">
                                                    <option value="">D24 Durian
                                                    </option>
                                                    <option value="">XO Durian
                                                    </option>
                                                    <option value="">Red Prawn Durian
                                                    </option>
                                                    <option value="">Mao Shan Wang Durian
                                                    </option>
                                                    <option value="">Black Pearl Durian
                                                    </option>
                                                    <option value="">Golden Phoenix Durian
                                                    </option>
                                                    <option value=""> Black Thorn Durian
                                                    </option>
                                                    <option value="">Black Gold Durian
                                                    </option>
                                                    <option value=""> Hor Lor Durian
                                                    </option>
                                                    <option value="">D17 Durian
                                                    </option>
                                                    <option value=""> D1 Durian
                                                    </option>
                                                    <option value="">D101 Durian
                                                    </option>
                                                    <option value=""> MonThong Durian
                                                    </option>
                                                    <option value="">D13 Durian
                                                    </option>
                                                    <option value=""> Tekka Durian
                                                    </option>
                                                    <option value="">Wang Zong Wang
                                                    </option>
                                                </select>


                                                <span class="text-danger text-left"></span>
                                            </div>



                                            <div style="padding-left:20px; padding-right:20px;" class="col-6">
                                                <h4 class="mb-3">Durian Tree ID</h4>
                                                <input type="input" class="form-control" id="addDurianTreeId"
                                                    maxlength="15" placeholder="XXXXXXXX" required>
                                                <small>Note: Only numeric number and not more than 15
                                                    length</small><br />
                                                <span class="text-danger text-left durianTreeIdErr"
                                                    id="durianTreeIdErr"></span>

                                            </div>

                                            <div style="padding-left:20px; padding-right:20px;" class="col-6">
                                                <h4 class="mb-3">Durian Weight (kg)</h4>
                                                <input type="input" class="form-control" id="addDurianWeight"
                                                    maxlength="10" placeholder="XX.XX" required>

                                                <span class="text-danger text-left durianWeightErr"
                                                    id="durianWeightErr"></span>

                                            </div>





                                        </div><br />




                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="addDurianBtn">Save
                                        changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="editDurianModal" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Edit Durian Modal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                                    <form target="dummyframe">


                                        <div class="row g-3">


                                            <div style="padding-left:20px; padding-right:20px;" class="col-6">
                                                <h4 class="mb-3">Durian Type</h4>
                                                <select class="form-select" name="durianName" id="editDurianType">
                                                    <option value="">D24 Durian
                                                    </option>
                                                    <option value="">XO Durian
                                                    </option>
                                                    <option value="">Red Prawn Durian
                                                    </option>
                                                    <option value="">Mao Shan Wang Durian
                                                    </option>
                                                    <option value="">Black Pearl Durian
                                                    </option>
                                                    <option value="">Golden Phoenix Durian
                                                    </option>
                                                    <option value=""> Black Thorn Durian
                                                    </option>
                                                    <option value="">Black Gold Durian
                                                    </option>
                                                    <option value=""> Hor Lor Durian
                                                    </option>
                                                    <option value="">D17 Durian
                                                    </option>
                                                    <option value=""> D1 Durian
                                                    </option>
                                                    <option value="">D101 Durian
                                                    </option>
                                                    <option value=""> MonThong Durian
                                                    </option>
                                                    <option value="">D13 Durian
                                                    </option>
                                                    <option value=""> Tekka Durian
                                                    </option>
                                                    <option value="">Wang Zong Wang
                                                    </option>
                                                </select>


                                                <span class="text-danger text-left"></span>
                                            </div>



                                            <div style="padding-left:20px; padding-right:20px;" class="col-6">
                                                <h4 class="mb-3">Durian Tree ID</h4>
                                                <input type="input" class="form-control" name="editDurianTreeId"
                                                    id="editDurianTreeId" maxlength="15" placeholder="XXXXXXXX"
                                                    required>
                                                <small>Note: Only numeric number and not more than 15
                                                    length</small><br />
                                                <span class="text-danger text-left editDurianTreeIdErr"
                                                    id="editDurianTreeIdErr"></span>

                                            </div>

                                            <div style="padding-left:20px; padding-right:20px;" class="col-6">
                                                <h4 class="mb-3">Durian Weight (kg)</h4>
                                                <input type="input" class="form-control" name="editDurianWeight"
                                                    id="editDurianWeight" maxlength="10" placeholder="XX.XX" required>

                                                <span class="text-danger text-left editDurianWeightErr"
                                                    id="editDurianWeightErr"></span>

                                            </div>





                                        </div><br />




                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="editDurianBtn">Save
                                        changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deleteDurianModal" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Edit Durian Modal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5>Are you sure want to deleted the durian added?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="deleteDurianBtn">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="distributeDurianModal" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Dsitribute Durian Modal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5>Are you sure want to distribute the durian? The process cannot be undo</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary"
                                        id="distributeDurianBtn">Distribute</button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <%- include('../partials/scroll_button'); %>


                        <script>
                            const ABI = JSON.parse(localStorage.getItem("UserABI"));
                            const Address = localStorage.getItem("UserAddress")




                            document.getElementById('addDurianBtn').addEventListener('click', function (e) {
                                e.preventDefault();


                                var durianType = document.getElementById("addDurianType").value;
                                var durianTreeId = document.getElementById("addDurianTreeId").value;
                                var durianWeight = document.getElementById("addDurianWeight").value;
                                console.log(durianTreeId);
                                console.log(durianWeight);
                                if (validateAddDurian(durianTreeId, durianWeight)) {
                                    addDurian();
                                }





                            });


                            document.getElementById('editDurianBtn').addEventListener('click', function (e) {
                                e.preventDefault();
                                // <td scope="col" id="durianID">13221323</td>
                                //                 <td id="durianType">HHHH</td>
                                //                 <td id="durianTreeID">eqqwewqweweq</td>
                                //                 <td id="durianWeight">100.00</td>

                                var durianType = document.getElementById("editDurianType").value;
                                var durianTreeId = document.getElementById("editDurianTreeId").value;
                                var durianWeight = document.getElementById("editDurianWeight").value;
                                console.log(durianTreeId);
                                console.log(durianWeight);
                                if (validateEditDurian(durianTreeId, durianWeight)) {
                                    editDurian();

                                }


                            });

                            document.getElementById('deleteDurianBtn').addEventListener('click', function (e) {
                                e.preventDefault();

                                deleteDurian();


                            });

                            document.getElementById('distributeDurianBtn').addEventListener('click', function (e) {
                                e.preventDefault();

                                distributeDurian();


                            });
                            const distributeDurian = async () => {
                                const accounts = await ethereum.request({ method: "eth_requestAccounts" });
                                account = accounts[0];
                                window.web3 = await new Web3(window.ethereum); //how to access to smart contract 
                                window.UserContract = await new window.web3.eth.Contract(ABI, Address); //how you create an instance of that contract by using the abi and address  

                                try {
                                    // await window.UserContract.methods.updateProfile(username, firstname, lastname, contactNum, userJson.wallet, location).send({ from: account });

                                    Swal.fire({
                                        title: 'Durian Distributed Succesful',
                                        text: 'You may view your durian',
                                        icon: 'success',
                                        confirmButtonText: 'OK'
                                    }).then(function () {
                                        window.location.href = '/farmerViewDurian';
                                    });
                                } catch (error) {
                                    if (error.message.includes("revert")) {
                                        Swal.fire({
                                            title: 'Durian Distributed Failed',
                                            text: 'The wallet address is not associated with this account',
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });

                                    }
                                    else {
                                        Swal.fire({
                                            title: 'Durian Distributed Failed',
                                            text: 'Unknown Error',
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });
                                    }

                                }
                            }



                            const deleteDurian = async () => {
                                const accounts = await ethereum.request({ method: "eth_requestAccounts" });
                                account = accounts[0];
                                window.web3 = await new Web3(window.ethereum); //how to access to smart contract 
                                window.UserContract = await new window.web3.eth.Contract(ABI, Address); //how you create an instance of that contract by using the abi and address  

                                try {
                                    // await window.UserContract.methods.updateProfile(username, firstname, lastname, contactNum, userJson.wallet, location).send({ from: account });

                                    Swal.fire({
                                        title: 'Durian Deleted Succesful',
                                        text: 'You may view your durian',
                                        icon: 'success',
                                        confirmButtonText: 'OK'
                                    }).then(function () {
                                        window.location.href = '/farmerViewDurian';
                                    });
                                } catch (error) {
                                    if (error.message.includes("revert")) {
                                        Swal.fire({
                                            title: 'Durian Deleted Failed',
                                            text: 'The wallet address is not associated with this account',
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });

                                    }
                                    else {
                                        Swal.fire({
                                            title: 'Durian Deleted Failed',
                                            text: 'Unknown Error',
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });
                                    }

                                }
                            }


                            const editDurian = async () => {
                                const accounts = await ethereum.request({ method: "eth_requestAccounts" });
                                account = accounts[0];
                                window.web3 = await new Web3(window.ethereum); //how to access to smart contract 
                                window.UserContract = await new window.web3.eth.Contract(ABI, Address); //how you create an instance of that contract by using the abi and address  

                                try {
                                    // await window.UserContract.methods.updateProfile(username, firstname, lastname, contactNum, userJson.wallet, location).send({ from: account });

                                    Swal.fire({
                                        title: 'Durian Edited Succesful',
                                        text: 'You may view your durian edited',
                                        icon: 'success',
                                        confirmButtonText: 'OK'
                                    }).then(function () {
                                        window.location.href = '/farmerViewDurian';
                                    });
                                } catch (error) {
                                    if (error.message.includes("revert")) {
                                        Swal.fire({
                                            title: 'Durian Edited Failed',
                                            text: 'The wallet address is not associated with this account',
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });

                                    }
                                    else {
                                        Swal.fire({
                                            title: 'Durian Edited Failed',
                                            text: 'Unknown Error',
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });
                                    }

                                }
                            }


                            const addDurian = async () => {
                                const accounts = await ethereum.request({ method: "eth_requestAccounts" });
                                account = accounts[0];
                                window.web3 = await new Web3(window.ethereum); //how to access to smart contract 
                                window.UserContract = await new window.web3.eth.Contract(ABI, Address); //how you create an instance of that contract by using the abi and address  

                                try {
                                    // await window.UserContract.methods.updateProfile(username, firstname, lastname, contactNum, userJson.wallet, location).send({ from: account });

                                    Swal.fire({
                                        title: 'Durian Added Succesful',
                                        text: 'You may view your durian added',
                                        icon: 'success',
                                        confirmButtonText: 'OK'
                                    }).then(function () {
                                        window.location.href = '/farmerViewDurian';
                                    });
                                } catch (error) {
                                    if (error.message.includes("revert")) {
                                        Swal.fire({
                                            title: 'Durian Added Failed',
                                            text: 'The wallet address is not associated with this account',
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });

                                    }
                                    else {
                                        Swal.fire({
                                            title: 'Durian Added Failed',
                                            text: 'Unknown Error',
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });
                                    }

                                }
                            }

                            function validateAddDurian(durianTreeId, durianWeight) {
                                var valid = true;

                                const regexTreeID = /^\d{1,15}$/u;
                                const regexDurianWeight = /^[0-9]+(\.[0-9]{1,4})?$/u;


                                if (!regexTreeID.test(durianTreeId)) {
                                    //  document.getElementById("durianTreeIdErr").innerHTML = "Invalid Durian Tree ID";
                                    document.querySelector('.durianTreeIdErr').innerHTML = "Invalid Durian Tree ID";
                                    valid = false;
                                    return;
                                }
                                else {
                                    document.querySelector(".durianTreeIdErr").innerHTML = "";
                                    valid = true;
                                }


                                if (!regexDurianWeight.test(durianWeight)) {
                                    document.querySelector('.durianWeightErr').innerHTML = "Invalid Durian Weight";
                                    valid = false;
                                    return;
                                }
                                else {
                                    document.querySelector(".durianWeightErr").innerHTML = "";
                                    valid = true;
                                }

                                return valid;
                            }

                            function validateEditDurian(durianTreeId, durianWeight) {
                                var valid = true;

                                const regexTreeID = /^\d{1,15}$/u;
                                const regexDurianWeight = /^[0-9]+(\.[0-9]{1,4})?$/u;


                                if (!regexTreeID.test(durianTreeId)) {
                                    //  document.getElementById("durianTreeIdErr").innerHTML = "Invalid Durian Tree ID";
                                    document.querySelector('.editDurianTreeIdErr').innerHTML = "Invalid Durian Tree ID";
                                    valid = false;
                                    return;
                                }
                                else {
                                    document.querySelector(".editDurianTreeIdErr").innerHTML = "";
                                    valid = true;
                                }


                                if (!regexDurianWeight.test(durianWeight)) {
                                    // document.getElementById("durianWeightErr").innerHTML = "Invalid Durian Weight";
                                    document.querySelector('.editDurianWeightErr').innerHTML = "Invalid Durian Weight";
                                    valid = false;
                                    return;
                                }
                                else {
                                    document.querySelector(".editDurianWeightErr").innerHTML = "";
                                    valid = true;
                                }

                                return valid;
                            }




                            $(document).ready(function () {
                                $('#table').DataTable();
                            });


                        </script>